/*reset de página para eviar configurações do navegador*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align:center;
    background-color: #ffffef;
}

/*estilização do header*/
header {
    background-color: #004080;
    color: #fff;
    padding: 10px;
}
header img {
    border-radius: 20px;
}
/*estilização do menu*/
nav ul {
    padding: 0;
    background-color: #0066cc;
    margin: 0;
}
nav ul li {
    display: inline;
    padding: 13px;
}
nav ul li a {
    color: #7bcaff;
    text-decoration: none;
    font-weight: bold;
}
.pacote {
    display: inline-block;
    width: 300px;
    background-color:#fffce2;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,10);
}

.pacote img{
    border-radius: 5px;
}
.preco {
    color: #0066cc;
    padding: 10px;
    font-weight: bold;
    font-size: large;
}
footer {
    background-color: #004080;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}